/*.log
/target
/*-init.clj
out
# For pushing to gh-pages, we want only the bare minimum
/resources/public/js/compiled/test/
/resources/public/js/compiled/dev/**/*.cljs
/resources/public/js/compiled/dev/**/*.cljs.cache.edn
/resources/public/js/compiled/dev/**/*.js.map
